@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clothesButton {
  width: 9rem;   
  height: 13.5rem; 
}

@media (min-width: 768px) {
  .clothesButton {
    width: 13rem;   
    height: 18rem;  
  }
}
