@import "tailwindcss";

@theme {
  --color-cian: #00adb5;
  --color-offwhite: #eeeeee;
  --color-lightgrey: #c9d6df;
  --color-darkgrey: #52616b;
  --color-wornblack: #1e2022;
}

* {

  box-sizing: border-box;
}
.clothesButton {
  width: 9rem;
  height: 13.5rem;
}

@media (min-width: 768px) {
  .clothesButton {
    width: 13rem;
    height: 18rem;
  }
}

.full-vh {
  height: calc(var(--vh, 1vh) * 100);
}

.mainLayoutCSS {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}
