@import "tailwindcss";

@theme {
  --color-background: #111111;
  --color-header: #1e1e1e;
  --color-footer: #1e1e1e;
  --color-weatherButton: #e9ecef;
  --color-detail: #cb1c29;
}
@font-face {
  font-family: "madson";
  src: url("/public/fonts/Madson-Bold.otf") format("opentype"),
    url("/public/fonts/Madson-Semibold.otf") format("opentype"),
    url("/public/fonts/Madson.otf") format("opentype");
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "madson", sans-serif;
}

.full-vh {
  height: calc(var(--vh, 1vh) * 100);
}
.neumorphic {
  background: #1e1e1e;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#root {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  min-width: 22rem;
}

@layer utilities {
  .background-color {
    background-image: linear-gradient(
      to bottom left,
      #242424 0%,
      #1f1f1f 20%,
      #1a1a1a 40%,
      #141414 60%,
      #111111 80%
    );
  }

  .no-background {
    background-image: none;
  }
}

@media (width > 768px) {
  #root {
    min-height: 50rem;
  }
}
